
target
bin
.metadata
*.class
RemoteSystemsTempFiles
.gitignore.swp
.settings

frame-service/.classpath
frame-service/.project

frame-commons/.classpath
frame-commons/.project

frame-api/.classpath
frame-api/.project

.project
.idea
frame-api/.idea
frame-commons/.idea
frame-service/.idea
*.iml
frame-service/.checkstyle
.classpath
frame-api/.gitignore
frame-commons/.gitignore
frame-service/.gitignore
/classes/
